__pycache__/**
.vscode/**
.DS_Store
**.pyc
.pre-commit-config.yaml
tmp
mypy.ini
Python-3*

.env
.config
outputs
activation_data
models
nanoGPTtoTL.py
tl_simple.py
scratchpad.py
secrets.json
setup.sh
wandb/
saved_autoencoders
testing
auto_interp_results

*.csv
*.test
*.png
*.pkl
*.pt

# ideally would load autointerp as a module but can't get it working so just cloning and ignoring
neuron_explainer
